<h1>Mood of the News</h1>
<div id="controls">
  <a id="show-all" class="active">Show All</a>
  <a id="hide-neutral">Hide Neutral</a>
  <a id="all-bad">All Bad</a>
  <a id="all-good">All Good</a>
</div>

<div id="feeds"></div>
